---
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";
---

<div class="main-content">
    <Navbar />
    <div class="main-body">
        <slot />
    </div>
    <Footer />
</div>